// SCSS 변수 (클래스명, 연산용)
$toast-namespace: 'react-strawberry-toast';
$toast-offset: 16px;

// CSS 커스텀 프로퍼티
:root {
  --toast-color-success: #1dca82;
  --toast-color-error: #eb2639;
  --toast-color-warn: #fcba03;
  --toast-color-info: #5365e7;
}

@keyframes l3 {
  to {
    transform: rotate(1turn);
  }
}

@keyframes react-strawberry-toast_fade-in {
  from {
    transform: translateY(-100%) scale(0.2);
    opacity: 0.2;
  }

  to {
    transform: translateY(0) scale(1);
    opacity: 1;
  }
}

@keyframes react-strawberry-toast_fade-out {
  from {
    transform: translateY(0);
    opacity: 1;
  }

  to {
    transform: translateY(-100%);
    opacity: 0.2;
  }
}

@keyframes react-strawberry-toast_fade-in-reverse {
  from {
    transform: translateY(100%) scale(0.2);
    opacity: 0.2;
  }

  to {
    transform: translateY(0) scale(1);
    opacity: 1;
  }
}

@keyframes react-strawberry-toast_fade-out-reverse {
  from {
    transform: translateY(0);
    opacity: 1;
  }

  to {
    transform: translateY(100%);
    opacity: 0.2;
  }
}

.#{$toast-namespace}__z9999 {
  z-index: 9999;
}

.#{$toast-namespace}__toast-container {
  width: 100%;
  position: fixed;
  z-index: 9999;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.#{$toast-namespace}__top-left {
  top: $toast-offset;
  left: calc(-50% + $toast-offset);
}

.#{$toast-namespace}__top-center {
  top: $toast-offset;
  left: 50%;
  transform: translateX(-50%);
}

.#{$toast-namespace}__top-right {
  top: $toast-offset;
  right: calc(-50% + $toast-offset);
}

.#{$toast-namespace}__bottom-left {
  bottom: $toast-offset - 8;
  left: calc(-50% + $toast-offset);
}

.#{$toast-namespace}__bottom-center {
  bottom: $toast-offset - 8;
  left: 50%;
  transform: translateX(-50%);
}

.#{$toast-namespace}__bottom-right {
  bottom: $toast-offset - 8;
  right: calc(-50% + $toast-offset);
}

.#{$toast-namespace}__toast-content-container {
  position: absolute;
  pointer-events: none;
}

.#{$toast-namespace}__toast-icon {
  width: 22px;
  height: 22px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.#{$toast-namespace}__fade-in {
  animation: react-strawberry-toast_fade-in 0.3s cubic-bezier(0.43, 0.14, 0.2, 1.05);
}

.#{$toast-namespace}__fade-out {
  animation: react-strawberry-toast_fade-out 0.3s cubic-bezier(0.43, 0.14, 0.2, 1.05);
}

.#{$toast-namespace}__fade-in-reverse {
  animation: react-strawberry-toast_fade-in-reverse 0.3s cubic-bezier(0.43, 0.14, 0.2, 1.05);
}

.#{$toast-namespace}__fade-out-reverse {
  animation: react-strawberry-toast_fade-out-reverse 0.3s cubic-bezier(0.43, 0.14, 0.2, 1.05);
}

.#{$toast-namespace}__loading {
  width: 18px;
  padding: 3.5px;
  aspect-ratio: 1;
  border-radius: 50%;
  background: #6f6f70;
  --_m: conic-gradient(#0000 10%, #000),
    linear-gradient(#000 0 0) content-box;
  -webkit-mask: var(--_m);
  mask: var(--_m);
  -webkit-mask-composite: source-out;
  mask-composite: subtract;
  animation: l3 1s infinite linear;
}

@mixin close-button {
  background: transparent;
  border: none;
  outline: none;
  width: 15px;
  height: 15px;
  cursor: pointer;
}