@import "base";

.react-strawberry-toast__toast-content {
  pointer-events: auto;
  box-sizing: border-box;
  background-color: var(--bg-white);
  padding: 10px;
  display: flex;
  align-items: center;
  gap: 5px;
  border-radius: 8px;
  box-shadow: 2px 2px 6px 2px rgba(0, 0, 0, 0.1);
  max-width: var(--toast-max-width, 368px);
}

.react-strawberry-toast__close-button {
  @include close-button;
}