@import "base";

.react-strawberry-toast__toast-content {
  pointer-events: auto;
  box-sizing: border-box;
  background-color: var(--bg-white);
  padding: 8px 8px 8px 12px;
  display: flex;
  align-items: center;
  gap: var(--toast-gap);
  border-radius: var(--border-radius);
  box-shadow: var(--box-shadow);
  max-width: var(--max-width);
  position: relative;
}

@mixin left-bar {
  content: '';
  display: inline-block;
  top: 0;
  left: 0;
  width: 6px;
  height: 100%;
  position: absolute;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
}


.react-strawberry-toast__toast-success {
  &::before {
    @include left-bar;
    background-color: var(--toast-color-success);
  }
}

.react-strawberry-toast__toast-error {
  &::before {
    @include left-bar;
    background-color: var(--toast-color-error);
  }
}

.react-strawberry-toast__toast-warn {
  &::before {
    @include left-bar;
    background-color: var(--toast-color-warn);
  }
}

.react-strawberry-toast__toast-info {
  &::before {
    @include left-bar;
    background-color: var(--toast-color-info);
  }
}

.react-strawberry-toast__close-button {
  @include close-button;
  position: absolute;
  right: 0;
  transform: translateX(-10px);
}