@import "base";

.react-strawberry-toast__toast-content {
  pointer-events: auto;
  box-sizing: border-box;
  background-color: var(--bg-white);
  padding: var(--toast-padding);
  display: flex;
  align-items: center;
  gap: var(--toast-gap);
  border-radius: var(--border-radius);
  box-shadow: var(--box-shadow);
  width: var(--toast-width);
}

.react-strawberry-toast__close-button {
  @include close-button;
}