@import "base";

.#{$toast-namespace}__toast-content {
  pointer-events: auto;
  box-sizing: border-box;
  padding: 10px;
  display: flex;
  align-items: center;
  gap: 5px;
  width: 314px;
  border-radius: 8px;
  box-shadow: 2px 2px 6px 2px rgba(0, 0, 0, 0.1);
  min-height: 54px;
  max-width: 368px;
  position: relative;
  background-color: white;
}

.#{$toast-namespace}__toast-success {
  color: white;
  background-color: var(--toast-color-success);
}

.#{$toast-namespace}__toast-error {
  color: white;
  background-color: var(--toast-color-error);
}

.#{$toast-namespace}__toast-warn {
  color: white;
  background-color: var(--toast-color-warn);
}

.#{$toast-namespace}__toast-info {
  color: white;
  background-color: var(--toast-color-info);
}

.#{$toast-namespace}__close-button {
  @include close-button;
  position: absolute;
  right: 0;
  transform: translateX(-10px);
}

svg .react-strawberry-toast-path {
  fill: white;
}
