@import "base";

.react-strawberry-toast__toast-content {
  position: relative;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  gap: var(--toast-gap, 6px);
  border-radius: var(--toast-border-radius, 8px);
  box-shadow: var(--toast-box-shadow, 2px 2px 6px 2px rgba(0, 0, 0, 0.1));
  max-width: var(--toast-max-width, 368px);
  background-color: var(--toast-bg, #fff);
  padding: var(--toast-padding-x, 8px) var(--toast-padding-y, 12px);
}

@mixin left-bar {
  content: '';
  display: inline-block;
  top: 0;
  left: 0;
  width: 6px;
  height: 100%;
  position: absolute;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
}


.react-strawberry-toast__toast-success {
  &::before {
    @include left-bar;
    background-color: var(--toast-color-success);
  }
}

.react-strawberry-toast__toast-error {
  &::before {
    @include left-bar;
    background-color: var(--toast-color-error);
  }
}

.react-strawberry-toast__toast-warn {
  &::before {
    @include left-bar;
    background-color: var(--toast-color-warn);
  }
}

.react-strawberry-toast__toast-info {
  &::before {
    @include left-bar;
    background-color: var(--toast-color-info);
  }
}

.react-strawberry-toast__close-button {
  @include close-button;
  position: absolute;
  right: 0;
  transform: translateX(-10px);
}