@import "base";

.react-strawberry-toast__toast-content {
  pointer-events: auto;
  box-sizing: border-box;
  padding: var(--toast-padding);
  display: flex;
  align-items: center;
  gap: var(--toast-gap);
  border-radius: var(--border-radius);
  box-shadow: var(--box-shadow);
  max-width: var(--max-width);
  position: relative;
  background-color: var(--bg-white);
}

.react-strawberry-toast__toast-success {
  color: white;
  background-color: var(--toast-color-success);
}

.react-strawberry-toast__toast-error {
  color: white;
  background-color: var(--toast-color-error);
}

.react-strawberry-toast__toast-warn {
  color: white;
  background-color: var(--toast-color-warn);
}

.react-strawberry-toast__toast-info {
  color: white;
  background-color: var(--toast-color-info);
}

.react-strawberry-toast__close-button {
  @include close-button;
  position: absolute;
  right: 0;
  transform: translateX(-10px);
}

svg .react-strawberry-toast-path {
  fill: var(--bg-white);
}
