@import "base";

.#{$react-strawberry-toast-namespace}__toast-content {
  pointer-events: auto;
  box-sizing: border-box;
  background-color: white;
  padding: 10px;
  display: flex;
  align-items: center;
  gap: 5px;
  border-radius: 8px;
  box-shadow: 2px 4px 10px rgba(0, 0, 0, 0.1);
  min-height: 47px;
  max-width: 368px;
}
