$react-strawberry-toast-namespace: 'react-strawberry-toast';
$offset: 16px;

@keyframes l3 {
  to {
    transform: rotate(1turn);
  }
}

@keyframes react-strawberry-toast_fade-in {
  from {
    transform: translateY(-100%);
    opacity: 0;
  }

  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes react-strawberry-toast_fade-out {
  from {
    transform: translateY(0);
    opacity: 1;
  }

  to {
    transform: translateY(-100%);
    opacity: 0;
  }
}

@keyframes react-strawberry-toast_fade-in-reverse {
  from {
    transform: translateY(100%);
    opacity: 0;
  }

  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes react-strawberry-toast_fade-out-reverse {
  from {
    transform: translateY(0);
    opacity: 1;
  }

  to {
    transform: translateY(100%);
    opacity: 0;
  }
}

.#{$react-strawberry-toast-namespace}__toast-container {
  position: absolute;
  z-index: 9999;
  pointer-events: none;
}

.#{$react-strawberry-toast-namespace}__toast-inner-container {
  pointer-events: auto;
  position: fixed;
  display: flex;
}

.#{$react-strawberry-toast-namespace}__top-left {
  top: $offset;
  left: $offset;
}

.#{$react-strawberry-toast-namespace}__top-center {
  top: $offset;
  left: 50%;
  transform: translateX(-50%);
}

.#{$react-strawberry-toast-namespace}__top-right {
  top: $offset;
  right: $offset;
}

.#{$react-strawberry-toast-namespace}__bottom-left {
  bottom: $offset;
  left: $offset;
}

.#{$react-strawberry-toast-namespace}__bottom-center {
  bottom: $offset;
  left: $offset;
  transform: translateX(-50%);
}

.#{$react-strawberry-toast-namespace}__bottom-right {
  bottom: $offset;
  right: $offset;
}

.#{$react-strawberry-toast-namespace}__toast {
  display: flex;
}
.#{$react-strawberry-toast-namespace}__toast-center {
  display: flex;
  justify-content: center;
}
.#{$react-strawberry-toast-namespace}__toast-content {
  box-sizing: border-box;
  background-color: white;
  padding: 12px 12px 10px 12px;
  display: flex;
  align-items: center;
  gap: 5px;
  border-radius: 8px;
  box-shadow: 2px 4px 10px rgba(0, 0, 0, 0.1),
}
.#{$react-strawberry-toast-namespace}__toast-icon {
  width: 20px;
}

.#{$react-strawberry-toast-namespace}__fade-in {
  animation: react-strawberry-toast_fade-in 0.3s ease-out;
}

.#{$react-strawberry-toast-namespace}__fade-out {
  animation: react-strawberry-toast_fade-out 0.3s ease-out;
}

.#{$react-strawberry-toast-namespace}__fade-in-reverse {
  animation: react-strawberry-toast_fade-in-reverse 0.3s ease-out;
}

.#{$react-strawberry-toast-namespace}__fade-out-reverse {
  animation: react-strawberry-toast_fade-out-reverse 0.3s ease-out;
}

.#{$react-strawberry-toast-namespace}__loading {
  width: 15px;
  padding: 3px;
  aspect-ratio: 1;
  border-radius: 50%;
  background: #6b6875;
  --_m: conic-gradient(#0000 10%, #000),
    linear-gradient(#000 0 0) content-box;
  -webkit-mask: var(--_m);
  mask: var(--_m);
  -webkit-mask-composite: source-out;
  mask-composite: subtract;
  animation: l3 1s infinite linear;
}