@import "base";

.#{$react-strawberry-toast-namespace}__toast-content {
  pointer-events: auto;
  box-sizing: border-box;
  background-color: white;
  padding: 10px 10px 10px 15px;
  display: flex;
  align-items: center;
  gap: 5px;
  width: 314px;
  border-radius: 8px;
  box-shadow: 2px 4px 10px rgba(0, 0, 0, 0.1);
  min-height: 54px;
  max-width: 368px;
  position: relative;
}

@mixin left-bar {
  content: '';
  display: inline-block;
  top: 0;
  left: 0;
  width: 7px;
  height: 100%;
  position: absolute;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
}


.#{$react-strawberry-toast-namespace}__toast-success {
  &::before {
    @include left-bar;
    background-color: $react-strawberry-toast-success;
  }
}

.#{$react-strawberry-toast-namespace}__toast-error {
  &::before {
    @include left-bar;
    background-color: $react-strawberry-toast-error;
  }
}

.#{$react-strawberry-toast-namespace}__toast-warn {
  &::before {
    @include left-bar;
    background-color: $react-strawberry-toast-warn;
  }
}

.#{$react-strawberry-toast-namespace}__toast-info {
  &::before {
    @include left-bar;
    background-color: $react-strawberry-toast-info;
  }
}

.#{$react-strawberry-toast-namespace}__close-button {
  @include close-button;
  position: absolute;
  right: 0;
  transform: translateX(-10px);
}