:root {
  --toast-namespace: "react-strawberry-toast";
  --toast-offset: 16px;
  --toast-width: fit-content;
  --border-radius: 8px;
  --toast-gap: 4px;
  --toast-padding: 10px;
  --box-shadow: 2px 2px 6px 2px rgba(0, 0, 0, 0.1);
  --close-btn-width: 14px;
  --close-btn-height: 14px;
  --bg-white: #fff;
  --loading-btn-bg: #6f6f70;
  --toast-color-success: #1dca82;
  --toast-color-error: #eb2639;
  --toast-color-warn: #fcba03;
  --toast-color-info: #5365e7;
}

@keyframes l3 {
  to {
    transform: rotate(1turn);
  }
}
@keyframes react-strawberry-toast_fade-in {
  from {
    transform: translateY(-100%) scale(0.2);
    opacity: 0.2;
  }
  to {
    transform: translateY(0) scale(1);
    opacity: 1;
  }
}
@keyframes react-strawberry-toast_fade-out {
  from {
    transform: translateY(0);
    opacity: 1;
  }
  to {
    transform: translateY(-100%);
    opacity: 0.2;
  }
}
@keyframes react-strawberry-toast_fade-in-reverse {
  from {
    transform: translateY(100%) scale(0.2);
    opacity: 0.2;
  }
  to {
    transform: translateY(0) scale(1);
    opacity: 1;
  }
}
@keyframes react-strawberry-toast_fade-out-reverse {
  from {
    transform: translateY(0);
    opacity: 1;
  }
  to {
    transform: translateY(100%);
    opacity: 0.2;
  }
}
.react-strawberry-toast__toast-container {
  width: 100%;
  z-index: 9999;
  position: fixed;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.react-strawberry-toast__top-left {
  top: var(--toast-offset);
  left: calc(-50% + var(--toast-offset));
}

.react-strawberry-toast__top-center {
  top: var(--toast-offset);
  left: 50%;
  transform: translateX(-50%);
}

.react-strawberry-toast__top-right {
  top: var(--toast-offset);
  right: calc(-50% + var(--toast-offset));
}

.react-strawberry-toast__bottom-left {
  bottom: calc(var(--toast-offset) - 8px);
  left: calc(-50% + var(--toast-offset));
}

.react-strawberry-toast__bottom-center {
  bottom: calc(var(--toast-offset) - 8px);
  left: 50%;
  transform: translateX(-50%);
}

.react-strawberry-toast__bottom-right {
  bottom: calc(var(--toast-offset) - 8px);
  right: calc(-50% + var(--toast-offset));
}

.react-strawberry-toast__toast-content-container {
  position: absolute;
  pointer-events: none;
}

.react-strawberry-toast__fade-in {
  animation: react-strawberry-toast_fade-in 0.3s cubic-bezier(0.43, 0.14, 0.2, 1.05);
}

.react-strawberry-toast__fade-out {
  animation: react-strawberry-toast_fade-out 0.3s cubic-bezier(0.43, 0.14, 0.2, 1.05);
}

.react-strawberry-toast__fade-in-reverse {
  animation: react-strawberry-toast_fade-in-reverse 0.3s cubic-bezier(0.43, 0.14, 0.2, 1.05);
}

.react-strawberry-toast__fade-out-reverse {
  animation: react-strawberry-toast_fade-out-reverse 0.3s cubic-bezier(0.43, 0.14, 0.2, 1.05);
}

.react-strawberry-toast__loading {
  width: 18px;
  padding: 3.5px;
  aspect-ratio: 1;
  border-radius: 50%;
  background-color: var(--loading-btn-bg);
  --_m: conic-gradient(#0000 10%, #000),
    linear-gradient(#000 0 0) content-box;
  -webkit-mask: var(--_m);
  mask: var(--_m);
  -webkit-mask-composite: source-out;
  mask-composite: subtract;
  animation: l3 1s infinite linear;
}
