@keyframes l3 {
  to {
    transform: rotate(1turn);
  }
}
@keyframes react-strawberry-toast_fade-in {
  from {
    transform: translateY(-100%) scale(0.2);
    opacity: 0.2;
  }
  to {
    transform: translateY(0) scale(1);
    opacity: 1;
  }
}
@keyframes react-strawberry-toast_fade-out {
  from {
    transform: translateY(0);
    opacity: 1;
  }
  to {
    transform: translateY(-100%);
    opacity: 0.2;
  }
}
@keyframes react-strawberry-toast_fade-in-reverse {
  from {
    transform: translateY(100%) scale(0.2);
    opacity: 0.2;
  }
  to {
    transform: translateY(0) scale(1);
    opacity: 1;
  }
}
@keyframes react-strawberry-toast_fade-out-reverse {
  from {
    transform: translateY(0);
    opacity: 1;
  }
  to {
    transform: translateY(100%);
    opacity: 0.2;
  }
}
.react-strawberry-toast__toast-container {
  --toast-color-success: #1dca82;
  --toast-color-error: #eb2639;
  --toast-color-warn: #fcba03;
  --toast-color-info: #5365e7;
  --toast-close-button: #8b8b8b;
  width: 100%;
  position: fixed;
  z-index: 9999;
  display: flex;
  align-items: center;
  flex-direction: column;
  pointer-events: none;
}

.react-strawberry-toast__top-left {
  top: var(--toast-offset, 16px);
  left: calc(-50% + var(--toast-offset, 16px));
}

.react-strawberry-toast__top-center {
  top: var(--toast-offset, 16px);
  left: 50%;
  transform: translateX(-50%);
}

.react-strawberry-toast__top-right {
  top: var(--toast-offset, 16px);
  right: calc(-50% + var(--toast-offset, 16px));
}

.react-strawberry-toast__bottom-left {
  bottom: calc(var(--toast-offset, 16px) - 8px);
  left: calc(-50% + var(--toast-offset, 16px));
}

.react-strawberry-toast__bottom-center {
  bottom: calc(var(--toast-offset, 16px) - 8px);
  left: 50%;
  transform: translateX(-50%);
}

.react-strawberry-toast__bottom-right {
  bottom: calc(var(--toast-offset, 16px) - 8px);
  right: calc(-50% + var(--toast-offset, 16px));
}

.react-strawberry-toast__toast-content-container {
  position: absolute;
  pointer-events: auto;
}

.react-strawberry-toast__fade-in {
  animation: react-strawberry-toast_fade-in 0.3s cubic-bezier(0.43, 0.14, 0.2, 1.05);
}

.react-strawberry-toast__fade-out {
  animation: react-strawberry-toast_fade-out 0.3s cubic-bezier(0.43, 0.14, 0.2, 1.05);
}

.react-strawberry-toast__fade-in-reverse {
  animation: react-strawberry-toast_fade-in-reverse 0.3s cubic-bezier(0.43, 0.14, 0.2, 1.05);
}

.react-strawberry-toast__fade-out-reverse {
  animation: react-strawberry-toast_fade-out-reverse 0.3s cubic-bezier(0.43, 0.14, 0.2, 1.05);
}

.react-strawberry-toast__loading {
  width: 18px;
  padding: 3.5px;
  aspect-ratio: 1;
  border-radius: 50%;
  background: #6f6f70;
  --_m: conic-gradient(#0000 10%, #000),
    linear-gradient(#000 0 0) content-box;
  -webkit-mask: var(--_m);
  mask: var(--_m);
  -webkit-mask-composite: source-out;
  mask-composite: subtract;
  animation: l3 1s infinite linear;
}

.react-strawberry-toast__toast-content {
  position: relative;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  gap: var(--toast-gap, 6px);
  border-radius: var(--toast-border-radius, 8px);
  box-shadow: var(--toast-box-shadow, 2px 2px 6px 2px rgba(0, 0, 0, 0.1));
  max-width: var(--toast-max-width, 368px);
  background-color: var(--toast-bg, #fff);
  padding: var(--toast-padding-x, 8px) var(--toast-padding-y, 12px);
}

.react-strawberry-toast__toast-success::before {
  content: "";
  display: inline-block;
  top: 0;
  left: 0;
  width: 6px;
  height: 100%;
  position: absolute;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
  background-color: var(--toast-color-success);
}

.react-strawberry-toast__toast-error::before {
  content: "";
  display: inline-block;
  top: 0;
  left: 0;
  width: 6px;
  height: 100%;
  position: absolute;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
  background-color: var(--toast-color-error);
}

.react-strawberry-toast__toast-warn::before {
  content: "";
  display: inline-block;
  top: 0;
  left: 0;
  width: 6px;
  height: 100%;
  position: absolute;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
  background-color: var(--toast-color-warn);
}

.react-strawberry-toast__toast-info::before {
  content: "";
  display: inline-block;
  top: 0;
  left: 0;
  width: 6px;
  height: 100%;
  position: absolute;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
  background-color: var(--toast-color-info);
}

.react-strawberry-toast__close-button {
  background: transparent;
  border: none;
  outline: none;
  width: 8px;
  height: 8px;
  cursor: pointer;
  position: absolute;
  right: 0;
  transform: translateX(-10px);
}
